<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <i class="{{ icon }}"></i>
      </div>
    </div>
    <div class="profile-head">
    </div>
    <div class="profile-foot">
      <p>{{ text }}</p>
    </div>
  </div>
</div>
