<div class="container" style="margin-top: 2%">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Welcome to message Darren Scott 2.0</h3>
    </div>
  </div>
  <br>
  <br>
  <div class="row text-center">
    <div class="col-12">
      <img src="../assets/images/logo.png" class="img-thumbnail">
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button class="btn btn-info" style="margin: 1%;">Send Text</button>
      <button class="btn btn-info" style="margin: 1%;">Send Email</button>
      <button class="btn btn-info" style="margin: 1%;">Send Phone Message</button>
      <button class="btn btn-info" style="margin: 1%;">Send Joke</button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button class="btn btn-xl btn-danger" style="margin: 1%;">NUCLEAR OPTION</button>
    </div>
  </div>
</div>
