<div class="row">
  <div class="col-md-3 animated fadeIn">
    <div class="card card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title">Messages sent</h5>
          <span class="card-text">12314</span>
        </div>
        <div class="col-4">
          <div class="icon-small">
            <i class="fas fa-envelope"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title">Calls sent</h5>
          <span class="card-text">12314</span>
        </div>
        <div class="col-4">
          <div class="icon-small">
            <i class="fas fa-phone"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title">Jokes sent</h5>
          <span class="card-text">12314</span>
        </div>
        <div class="col-4">
          <div class="icon-small">
            <i class="fas fa-beer"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title">Nuclear options deployed</h5>
          <span class="card-text">12314</span>
        </div>
        <div class="col-4">
          <div class="icon-small">
            <i class="fas fa-atom"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <card>
      <profile></profile>
    </card>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <app-contact [icon]="'fas fa-phone fa-3x'" [text]="'Click here to give Darren a call'"></app-contact>
      </div>
      <div class="col-md-6">
        <app-contact [icon]="'fas fa-envelope fa-3x'" [text]="'Click here to send Darren a message'"></app-contact>
      </div>
      <div class="col-md-6">
        <app-contact [icon]="'fas fa-beer fa-3x'" [text]="'Click here send Darren a joke'"></app-contact>
      </div>
      <div class="col-md-6">
        <app-contact [icon]="'fas fa-atom fa-3x'" [text]="'Click here deploy the nuclear option for Darren'"></app-contact>
      </div>
    </div>
  </div>
</div>

